<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grupo 12 Laboratorios</title>

    
    {% include 'secctions/header.html' %}
    
    {% block extrascss %}
        <link href="{% static 'css/micss.css' %}" rel="stylesheet">
    {% endblock extrascss%}


</head>

<body>

    {% include "nav.html" %}

    {% include "header_index.html" %}

    

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>conenido</p>

                    {% block content %}
                    
                    {% endblock %}
                    
                
                <!-- Pager -->
               
            </div>
        </div>
    </div>

    <hr>

    {% include "footer.html" %}

    
    {% include 'secctions/foot.html'%}
    

</body>

</html>
